@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    padding: 0rem;
    margin: 0rem;
}
    
/* all variables are here 👇👇👇 */
:root {
    --primary-bg: #FBBF24;
    --primary-font-color: #FFFBEB;
    --active-bg: #fde996;
    --css-bg: #f8f9fa;
    --main-section-height: calc(100vh - 6.5rem);
    --error-color: #dd1616;
    --warning-color: #fc9e23;
    --secondary-color:#0099ffd7;
    --secondary-color-hover:#0099ff;
    --primary-hover-color:#ffb700;
}


.body{
    font-family: 'Ubuntu', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-bg);
    color: var(--primary-font-color);
    grid-area: header;
    position: fixed  ;
    
    top: 0;
    left: 0;
    /* the z index is used to elevate the header to top */
    z-index: 900;

    width: 100%;
    
}

.logo {
    color: var(--primary-font-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    /* padding: 2rem; */
}

.non-bullet {
    list-style: none;
}

.inline-list {
    display: flex;
    flex-wrap: wrap;
    max-width: inherit;
}

.header-social-links>li {
    padding: 0 2rem;

}
.header-social-links{
    padding: 0 2rem;

}

/* .inline-list>li{
    padding: 0 2rem;
} */

.main-layout {
    grid-template-columns: 1fr 5fr;
   
}

.main-layout {
    display: grid;
    margin-top: 4rem;
    grid-template-areas:"sidebar container" ;
    column-gap: 1rem;
    /* "header header header" 
    "sidebar container container"
    "sidebar container container"; */
    /* gap: 3rem; */
    /* height: calc(100vh+6rem); */
    /* margin-bottom: 2rem; */
}
/* 
.grid-col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    margin-top: 6rem;
} */

/* .main-section {
    height: 100%;
} */

.aside-nav {
    /* display: block; */
    /* important*/
    flex-direction: column;
    height: var(--main-section-height);
    max-width: 10rem;
    min-width: 5rem;
    position: fixed;
    margin-bottom: 1rem;
    grid-area: sidebar;
    padding: 2rem;
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;

    /* overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
    overflow-y: auto;
    padding-right: 2rem; */
}

.aside-nav-links {
    display: flex;
    text-decoration: none;
    padding: 0.2rem 1rem 0.2rem 0.1rem;
    color: rgba(66, 59, 59, 0.849);
    display: block;
}
.nav-links {
    padding: 0.2rem 0.2rem;
    text-decoration: none;
    color: var(--primary-font-color);
    display: block;
}

/* .aside-nav>li{
    text-decoration: none;
    color: rgba(66, 59, 59, 0.849);
} */
.aside-nav-links:hover {
    text-decoration: none;
    /* margin-top: 0.3rem; */
    padding: 0.2rem 1rem 0.2rem 0.1rem;
    background-color: var(--active-bg);
    border-radius: 0.2rem;
    color: black;
    cursor: pointer;
    
}
.nav-links:hover {
    text-decoration: none;
    /* margin-top: 0.3rem; */
    padding: 0.2rem 0.2rem;
    background-color: var(--warning-color);
    border-radius: 0.2rem;
    cursor: pointer;
    color: rgb(255, 254, 254);
}
.active-link {
    background-color: var(--active-bg);
    width: 100%;
    /* padding: 0.2rem ; */
    border-radius: 0.2rem;
}

/* .aside-nav-links:focus{
    text-decoration: none;
    color: black;
    background-color:coral;
} */
.container {
    /* min-height: 76vh; */
    overflow-y: auto;
    grid-area: container;
    /* position: relative; */
    bottom: 0;
    /* padding-right: 16rem; */
    /* margin-left: 4rem; */
    padding-top: 2rem;
    /* margin-top: 7rem; */
    
    /* height: var(--main-section-height); */


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 6rem; */
}

.nav-items>li {
    margin-top: 0.3rem;
    padding: 0.3rem 0.5rem;
    /* background-color: var(--active-bg);
    border-radius: 0.4rem; */
}
/* .nav-items>li:hover {
    margin-top: 0.3rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--active-bg);
    border-radius: 0.4rem;
} */

.main-heading {
    font-size: 4.2rem;
    font-weight: 600;
}
.sub-heading{
    font-size: 2rem;
    padding-top: 0.5rem ;
    font-weight: 600;
}
.section >.sub-heading{
    font-size: 2rem;
    padding-top: 3.8rem ;
    font-weight: 600;
}

.intro-title {
    font-size: 2.5rem;
}

.intend-list {
    padding-left: 1rem;
}

/* .intro-desc>p{
     padding-top: 0.5rem ;
} */
.intro-desc {
    padding: 1rem 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    background-color: var(--active-bg);
    border-radius: 1rem;
    line-height: 1.5;
}

/*  */

/* AVATAR LINK */
.center-title {
    display: flex;
    justify-content: center;
}

.section {
    /* margin-top: 1.5rem; */
    /* margin-left: 4rem; */
    padding-left: 5rem;
    padding-top: 3rem;
    display: block;
    min-height: 45rem; 
    padding-right: 10rem;

}

.component-desc {
    padding-top: 0.5rem ;
    font-size: 1.5rem;
    font-weight: lighter;
}

.component-container {
    padding: 1rem 1rem;
    border: 2px solid var(--active-bg);
    border-radius: 0.5rem;
    /* margin-bottom: 2rem; */
}

.align-center {
    align-items: center;
}

.component-container>ul>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.component-container>ul>li>p {
    margin-left: 1rem;
}

.avatar {
    border-radius: 50%;
    margin-left: 1rem;
}

.xs {
    height: 2rem;
    width: 2rem;
}

.sm {
    height: 3rem;
    width: 3rem;
}

.md {
    height: 4rem;
    width: 4rem;
}

.lg {
    height: 5rem;
    width: 5rem;
}

.xl {
    height: 6rem;
    width: 6rem;
}

.xxl {
    height: 8rem;
    width: 8rem;
}





/* badges */
.badge-container {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 0.2rem;
    /* height: auto; */
}

.avatar-badge {
    position: absolute;
    color: white;
    border: 2px solid white;
    width: 1rem;
    height: 1rem;
    padding: 0.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0rem;
    right: 0rem;
}

.warning {
    background-color: var(--warning-color);
}

.error {
    background-color: var(--error-color);
}

/* icon */
.icon {

    fill: rgb(173, 162, 162);
    min-height: 2rem ;
    min-width: 2rem;
    margin-left: 1rem;
}
.rating-icon {

    fill: var(--primary-bg);

    min-height: 2rem ;
    min-width: 2rem;
    margin-left: 1rem;
}
#ratings .component-container>ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
/* .row{
    display: flex;
    flex-direction: row;
} */
.checked-icon{
    fill: var(--primary-bg);
}

/* Buttons */

.btn{
    padding: 0.5rem 1rem;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
 
    color: var(--primary-font-color);
    border-radius: 0.4rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.primary-btn{
    background-color: var(--primary-bg); 
}
.secondary-btn{
    background-color: var(--secondary-color);
}
.secondary-btn:hover{
    background-color: var(--secondary-color-hover);
}
.primary-btn:hover{
    background-color: var(--primary-hover-color);
   
}
.red-btn{
    background-color: rgb(252, 39, 39);
}
.red-btn:hover{
    background-color: red;
}

.xs-btn{
    font-size: 0.5rem;  
}

.sm-btn {
    font-size: 1rem;
}

.md-btn{
    font-size: 1.2rem;
}

.lg-btn{
    font-size: 1.5rem; 
}

.xl-btn{
    font-size: 2.5rem;
}

.xxl-btn{
    font-size: 0.5rem;
   /* padding */
}



.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-center{
    justify-content: center;
}

.red-border{
    border: 1px solid red;
}
.red-fill{
    fill: red;
}
/* link buttons */
.link-btn{
    background-color: transparent;
   
    border: 1px solid var(--primary-bg);
    color: #ff9900;
    
}
.sec-btn{
    background-color: transparent;
    color: #ff9900;
    
}
.sec-btn:hover{
    background-color: transparent;
    color: #ff9900;
    
}
.link-btn:hover{
   
    background-color: transparent;
    border: 1px solid #ff9900;
    color: #ff9900;
   
}
.yellow-bg{
    background-color:  var(--primary-bg);
}
.yellow-bg:hover{
    cursor: pointer;
    background-color: var(--primary-hover-color);
}
.icon-btn {
    fill: var(--primary-font-color);
    min-height: 2rem ;
    min-width: 2rem;
    /* padding: 0.5rem; */
}
#like-btn .icon-btn:hover{
    fill: red;
    min-height: 2rem ;
    min-width: 2rem;
    color: pink;
}
#comment-btn .icon-btn:hover{
    fill:rgb(10, 89, 236);
    min-height: 2rem ;
    min-width: 2rem;
    cursor: pointer;
    color: pink;
}
#retweet-btn .icon-btn:hover{
    fill:green;
    cursor: pointer;
    min-height: 2rem ;
    min-width: 2rem;
    cursor: pointer;
    color: pink;
}

/* Floating Button */
.float-btn{
    padding:1rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0.5rem 0.5rem 1rem grey;
    margin-left: 1rem;
    fill: var(--primary-font-color);
    /* background-color: transparent; */
}
.float-btn:hover{
    cursor: pointer;
    padding:1rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    margin-left: 1rem;
    fill: var(--primary-font-color);
    /* background-color: transparent; */
}


/* Cards */
.vertical-card{
    /* max-width: 14rem; */
    flex-direction: column;   
    flex-wrap: wrap;
    display: flex;
}
.card{
    border:1px solid var(--primary-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem;
    min-height: 10rem;
    border-radius: 0.4rem;
}
.sm-width-card{
    max-width: 10rem;
}
.md-width-card{
    max-width: 14rem;
}
.lg-width-card{
    max-width: 20rem;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}

.horizontal-card{
    flex-direction: row;
    /* flex-wrap: wrap; */
    display: flex;
}

.badge{
    position: absolute;
    padding: 0.2rem 1rem;
    color: var(--primary-font-color);
    background-color: var(--error-color);
    
}
.top-left{
    border-top-left-radius: inherit;
    left: 0;
    top:0;
}
.top-right{
    border-top-right-radius: inherit;
    right: 0;
    top:0;
}
.bottom{
    border-radius: inherit;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
}

.dismiss-btn{
    /* padding:0.1rem; */
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    position: absolute;
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    margin: 0.2rem;
    fill: var(--primary-font-color);
    background-color: var(--primary-bg)
}

.overlay{
    padding:0.5rem;
    border-radius: 0.2rem;
    /* height: auto; */
    width: inherit;
    font-size: 1.5rem;
    position: absolute;
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* box-shadow: none; */
    margin: 0.2rem;
    fill: var(--primary-font-color);
    background-color: var(--primary-bg)
}

.vertical-card>div{
    padding-bottom: 1rem;
}
.shadow{
    box-shadow: 1rem 1rem 1rem grey;
}


/* Images */
.img-fluid{
    display: flex;
    flex-direction: row;
    max-width:80%;
    height: auto;
    flex-shrink: 1;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.round{
    border-radius: 50%;
}
.sm-img{
    width: 10rem;
    height: 10rem;
}
.md-img{
    width: 15rem;
    height: 15rem;
}
.lg-img{
    width: 20rem;
    height: 20rem;
}

/* input */

.input{
    font-size: 1.2rem;
    padding:0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--primary-bg);
    background-color: var(--primary-font-color);
    width: 12rem;
}
.input::placeholder{
    font-size: 1.2rem;
    color: var(--primary-hover-color);
    margin-bottom: 1rem;
}
.curve{
    border-radius: 0.4rem;
}

.error-msg{
    font-size: 1.2rem;
    padding:0.5rem;
    color:  var(--error-color);
    margin-bottom: 1rem;
    border: 1px solid var(--error-color);
    width: 12rem;
    background-color: var(--primary-font-color);
}
.list{
    width: max-content;
    /* margin-left: 1rem; */
    font-size: 1.5rem;
    display: flex;
}

.spaced-list-item{
    background-color: var(--active-bg);
    padding: 0.2rem 1rem;

    margin-bottom: 1rem;

}
.stacked-list-item{
    background-color: var(--active-bg);
    padding: 0.2rem 1rem;
    border-bottom: 1px solid var(--primary-bg);

    /* margin-bottom: 1rem; */

}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-bg);
    color: var(--primary-font-color);
    width: 100%;
}
.navigation>li {
    padding: 0 2rem;

}

.description{
    padding: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: lighter;
}
.modal{
    position: absolute;
    width:20rem ;
    /* display: flex; */
    display: none;
    top:auto;
    border: 1px solid var(--primary-bg);
    background-color: var(--active-bg);
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 3rem;
}
.modal .description{
    flex-direction: column;
    display: flex;
}
#modal-sec .primary-btn{
    margin-top: 1rem;
}
/* .modal .sub-heading{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding-top: 1rem ;
    font-weight: 600;
} */
.modal-btns{
    align-items: flex-end;
    justify-content: end;
    display: flex;
    flex-direction: column;
}
.modal-btns .primary-btn{
    background-color: var(--primary-bg);
    padding: 0.5rem 0.5rem;
    border: none;
    font-size: 1.2rem;
    color: var(--primary-font-color);
    border-radius: 0.4rem;
    margin-top: 1rem;
    margin-left:1rem;
}

.relative-box{
    position: relative;
}
.absolute-box{
    position: absolute;
}
.nav-logo{
    color: var(--primary-font-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 2rem;
}
.nav-social-links>li {
    padding: 0 0.5rem;

}
.nav-social-links{
    padding: 0 1rem;

}
.grid-2{
    display: grid;
    /* gap: 3rem; */
    grid-template-columns: 1fr 1fr;
    border:1px solid var(--primary-bg);
    margin: 1rem;
    grid-template-areas: "grid-item1 grid-item2";
    
}
.grid-3{
    display: grid;
    /* gap: 3rem; */
    grid-template-columns: 1fr 1fr 1fr;
    border:1px solid var(--primary-bg);
    margin: 1rem;
    grid-template-areas: "grid-item1 grid-item2 grid-item3";
    /* padding: 1rem; */
    min-height: 10rem;
}
.grid-item1{
    grid-area: grid-item1;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.grid-item3{
    grid-area: grid-item3;display: flex;
    align-items: center;
    padding: 1rem;
}



.grid-item2{
    grid-area: grid-item2;
    display: flex;
    align-items: center;
    padding: 1rem;
}
/* 
.main-layout {
    display: grid;
    margin-top: 5rem;
    grid-template-areas: "sidebar container";
    gap: 4rem;
    position:fixed;
} */

.grey-text{
    color: gray;
}
.small-text{
    font-size: 0.75rem;
}
.toast-message{
    font-size: 1.2rem;
    background-color: var(--primary-font-color);
    border: 1px solid var(--primary-bg);
    padding: 0.2rem 1rem;
    color: var(--primary-bg);
}
.dismiss{
    margin-left: 1rem;
    color: inherit;
}

.red-text{
    color:red;
}
.primary-text{
    color:var(--primary-bg);
}
.primary-border{
    border: 1px solid red;
}

.footer{
    
    /* grid-area: footer; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    color: var(--primary-font-color);
    background-color: var(--primary-bg);
    width: inherit;
    padding:2rem 1rem;
    margin-top: 3rem;
}
